


  
 





/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


/* SELECTORES HTML/UNIVERSALES */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1 {
  font-size: 55px; /*Tamaño de letra*/
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  color: #9ef01a;
  font-weight: 900;
}

/* SECCION CABECERA */

#cabecera {

  background-color: #ffffff;
  position: sticky;

  top: 0px;

  z-index: 1000;
}

.img_ajustarancho {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contenedor-cabecera {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-cabecera nav {
  margin-bottom: 20px;
}

.row-cabecera {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
}

.row-cabecera h1 {
  padding-top: 30px;
}

.contenedor-cabecera a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-cabecera a:hover{
  color: #9ef01a;
}

.contenedor-cabecera span {
  color: orange;
}

.contenedor-cabecera strong {
  color: #9ef01a;
}

/* SECCION PRINCIPAL */

#principal {
  background-color: #eaf4f4;
}

.contenedor-principal {
  position: relative;

}

.espaciado-principal {
  padding-top: 90px;
  padding-bottom: 90px;
 }

.contenedor-principal {
  text-shadow: 5px 2px 11px rgba(0, 0, 0, 0.42);
}


.contenedor-principal p {
  font-size: 30px;
  color: rgb(236, 236, 236);
}

.contenedor-principal h1 {
  font-size: 90px;
  line-height: 90px;
}

.contenedor-principal-descripcion {
  position: absolute;
  top: 35%;
  left: 5%;
  color: var(--color-blanco);
}

.video-responsive {
  aspect-ratio: 16 / 9; /* 16 / 9, 4 / 3, 21 / 9*/
  width: 100%;
  height: 100%;
}

/* SECCION TENIS PARA TODOS */

#tenis-para-todos {
  background-color: #eaf4f4;
  color: #46494c;
}

.row {
  display: flex; 
  flex-direction: row; 
  margin-left: 15px;
  margin-right: 15px;
}


.columna {
  flex-basis: 0; 
  flex-grow: 1;


  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor-tenis-para-todos {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
}

#tenis-para-todos img {
  transition: all 0.5s ease-in-out;
}

#tenis-para-todos img:hover {
  filter: grayscale(100%);
}

.agrandar-tenis:hover {
  transform: scale(105%);
}

.espaciado-tenis-para-todos {
  padding-bottom: 40px;
}

.caja-overflow {
  overflow: hidden;
}

.img_ajustarancho {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


/* SECCION ESTADISTICAS */

#estadisticas {
  background-color: #eaf4f4;
}

.espaciado-estadisticas {
  padding-top: 40px;
  padding-bottom: 90px;
}

.columna-estadisticas {
  flex-basis: 0; /* Elimina el ancho de la caja */
  flex-grow: 1; /* Agranda la caja */

  /* Espacio entre el borde de la columna y el contenido */
  margin-left: -15px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.row {
  display: flex; 
  flex-direction: row; 
  margin-left: 15px;
  margin-right: 15px;
}

.contenedor-estadisticas-1 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.contenedor-estadisticas-1 h3 {
    color: gray;
}

.contenedor-estadisticas-2 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

.contenedor-estadisticas-2 h1 {
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: #242423;
}

.contenedor-estadisticas-2 i {
  font-size: 50px;
  color: #242423;
}

/* SECCION BENEFICIOS */

#beneficios {
  background-image: url("../imagenes/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 540px;
}

.espaciado-beneficios {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contenedor-beneficios {
  max-width: 80%;
  margin-left: 370px;
}

.row-beneficios {
  display: flex; /* Flexbox */
  flex-direction: row; /* Los elementos hijo se ponen en fila */
}

.columna-beneficios {
flex-basis: 0;
flex-grow: 1;
padding-top: 50px;
padding-right: 30px;
display: flex;
}

.columna-beneficios i {
  font-size: 70px;
  margin-right: 10px;
  color: #9ef01a;
  padding-top: 40px;
}


/* SECCION HORARIO */

#horario {
  background-color: #eaf4f4;
}

.espaciado-horario {
  padding-top: 50px;
}

.contenedor-horario-1 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.contenedor-horario-2 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-horario-2 h1 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #242423;
}

.contenedor-horario-2 p {
  font-size: 15px;
  padding-top: 20px;
  font-weight: 500;
}



.columna-horario{
  flex-basis: 0; /* Elimina el ancho de la caja */
  flex-grow: 1; /* Agranda la caja */

  /* Espacio entre el borde de la columna y el contenido */

  margin-right: 15px;
  margin-bottom: 60px;
  line-height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 5px;
}

.columna-horario hr {
  margin-top: 0px;
  margin-bottom: 20px;
}

.tabla {
  border-radius: 10px;
  padding: 20px;
  background-color: #9ef01a;
  margin-bottom: 20px;
}

.tabla h1{
  font-size: 21px;
  color: white;
}

.tabla-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.tabla-2 h3 {
  color: #212529;
}


/* SECCION NOSOTROS */

#nosotros {
  background-color: #eaf4f4
}

.espaciado-nosotros {
  padding: 40px;
}

.contenedor-nosotros {
  background-image: url("../imagenes/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 800px;
  box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -1px 11px 12px rgba(0, 0, 0, 0.5);
}

.contenedor-sobre-el-club {
  max-width: 80%;
  margin-right: 700px;
  margin-left:  130px;
  padding-top: 200px;
  padding-right: 200px;
}

.contenedor-sobre-el-club h3 {
  font-size: 20px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
} 


/* SECCION TESTIMONIOS */

#testimonios {
  background-color: #eaf4f4
}

.espaciado-testimonios {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contenedor-testimonios {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}
.row-testimonios {
  display: flex; /* Flexbox */
  flex-direction: row; /* Los elementos hijo se ponen en fila */
}

.columna-testimonios {
  flex-basis: 0;
  flex-grow: 1;
  padding-top: 30px;
  margin-right: 80px;
  display: flex;
  }

  .columna-testimonios h3 {
    color: gray;
    font-size: 15px;
  }

  .columna-testimonios h2 {
    text-shadow: 4px 4px 11px rgba(246,72,72,0.6);
  }

  .div-testimonios {
    margin-right: 20px;
  }

  .div-testimonios img {
    margin-top: 28px;
    width: 100px;
    border-radius: 50%;
  }


/* SECCION NOTICIAS */

#noticias {
  background-image: url("../imagenes/fondo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 500px;
}

.espaciado-noticias {
  padding-top: 60px;
  padding-bottom: 700px;
}
.row-noticias {
  display: flex; /* Flexbox */
  flex-direction: row; /* Los elementos hijo se ponen en fila */

  /* Eliminar el espacio producido por el padding de las columnas */
  margin-right: 15px;
}

.contenedor-noticias {
  
  max-width: 80%;
  margin-left: 400px;
  margin-right: 150px;
}

.columna-noticias {
  flex-basis: 0; /* Elimina el ancho de la caja */
  flex-grow: 1; /* Agranda la caja */

  /* Espacio entre el borde de la columna y el contenido */
  margin-right: -10px;
  margin-left: 20px;
  margin-top: 30px;
}

.columna-noticias h2 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 20px;
  color: #343a40;
}

.columna-noticias h3 {
  font-size: 10px;
  margin-top: 20px;
  color: gray;
}

.columna-noticias p {
  font-size: 15px;
  line-height: 16px;

}

.img-noticias{
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 8px 12px 16px -1px rgba(214,27,27,0.25);
-webkit-box-shadow: 8px 12px 16px -1px rgba(214,27,27,0.25);
-moz-box-shadow: 8px 12px 16px -1px rgba(214,27,27,0.25);
}


/* SECCION FOOTER */

#footer {
  background-color: #161a1d;
  color: white;
}

.contenedor-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright {
  font-size: 12px;
}
.redes-sociales a {
  font-size: 12px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
 
.row-contenedor {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* SECCION SCROOL BEHAVIOR*/

#scroll-arriba {
  position: fixed;

  /* coordenadas de posicionamiento */
  bottom: 30px;
  right: 30px;

  /* decorar el botón */
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  color: var(--color-blanco);
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  border: #9ef01a 3px solid;
}

#scroll-arriba:hover {
  background-color: #9ef01a;
  color: black;
  transform: translateY(-5px);
  box-shadow: -3px 8px 25px 0px rgba(24,41,64,40%);

  /* transicion */
  transition: all 0.3s ease-in-out;
}


/* SECCION CATEGORIAS PROGRAMAS */

#categorias-programas {
  text-align: center;
  padding-top: 50px;
  height: 700px;
}

#categorias-programas h2{
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

#categorias-programas h3{
  font-family: "Poppins", sans-serif;
}

#categorias-programas p{
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

/* BARRA UBICACION */

.barra-ubicacion {
  background-color: #9ef01a;
  color: white;
  text-align: center;
}

.barra-ubicacion h1 {
  padding-top: 100px;
}

.barra-ubicacion p {

  padding-bottom: 100px;
}


/* CONTACTANOS FORMULARIO */

.formato-iframe {
  border-radius: 25px;
}

#contactanos-formulario {
  background-image: url(../imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#contactanos-formulario form{
  margin-right: 50%;

}

#contactanos-formulario p{
  margin: 20px 0px;
  text-align: center;
  font-size: 20px;
  padding: 20px;

}


#contactanos-formulario h3{
  background-color: #9ef01a;
  color: black;
  padding: 30px;
  text-align: center;
  margin-bottom: 0;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.form-campo {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  border-bottom: #9ef01a 2px solid;
}

.boton-enviar {
  background-color: #9ef01a;
  color: black;
  width: 50%;
  padding: 20px 0px;
  border: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-enviar:hover {
  background-color: #567c18fb;
  color: #ffffff;
}

.mapa-contactanos {
  aspect-ratio:  16 / 9; /* 16 / 9, 4 / 3, 21 / 9*/
  width: 100%;
  height: auto;
}

/* ACERCA DE NOSOTROS */

.acerca-de-nosotros h1{
  font-size: 60px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 50px;
  color: #9ef01a;
  font-family: "Poppins", sans-serif;
}

.acerca-de-nosotros p {
  font-size: 18px;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  text-align: center;;
}

.espaciado-acerca-de-nosotros {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contenedor-acerca-de-nosotros {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row-acerca-de-nosotros {
  display: flex; 
  flex-direction: row; 
  margin-left: 15px;
  margin-right: 15px;
}

.columna-acerca-de-nosotros {
  flex-basis: 0; 
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.columna-acerca-de-nosotros-img {
  flex-basis: 0; 
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caja-padre-acerca-de-nosotros {
    position: relative;
}


.txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.txt:hover {
  opacity: 1;
  background: rgba(173,236,45,0.85);
background: linear-gradient(90deg,rgba(173,236,45,0.85) 0%, rgba(50,177,119,0.58) 80%);
  color: black;
}

.txt p {
  font-size: 30px;
  line-height: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;;
}


/* SECCION NUESTROS COACH*/

.espaciado-nuestros-coach {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contenedor-nuestros-coach {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.row-nuestros-coach {
  display: flex; 
  flex-direction: row; 
  margin-left: 15px;
  margin-right: 15px;
}

.columna-nuestros-coach {
  flex-basis: 0; 
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.caja-padre-nuestros-coach {
  position: relative;
}

.caja-padre-nuestros-coach:hover {
  position: relative;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.informacion-coach {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.informacion-coach:hover {
  opacity: 1;

  background: rgba(158,240,26,0.44);
  color: black;
}

.informacion-coach span {
  font-size: 50px;
  line-height: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
}

.informacion-coach p {
  font-size: 20px;
  line-height: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.titulo-nuestros-coach h1 {
  color: #9ef01a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.titulo-nuestros-coach span {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.titulo-nuestros-coach p {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  padding-left: 400px;
  padding-right: 400px;
}